/*rset navbar*/
.main-slider{
    border-top: 2px solid #ddd;
}
.carousel-indicators li{
    border: 1px solid #225C6A;
}
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
    width: 100%;
    height: 550px;
}
.carousel{
    top:60px;
    margin-bottom: 260px;
    border-bottom: 1px solid #ccc;
}
.best-seller{
    height: 600px;
    background:#fff;
    
}
.item2 img{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    border:1px solid #225C6A;
    transition: all 0.5s ease-in-out;
}
.item2 img:hover{
    box-shadow: 10px 10px 10px #ccc;
}
ul li{
    font-family: 'El Messiri', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
.navbar-default{
    background: #fff;
}
.navbar-brand > img
{
    display: block;
    width: 80px;
    height: 40px;
    position: relative;
    top: -5px;
}
.nav > li{
    margin:5px 0px 5px 10px;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus
{
    color: #fff;
    background-color:#96CD28;
    border-radius: 64px;
    transition: all 0.8s ease-in-out;
}


/*end of navbar*/
section.home
{
    margin-top:60px;
}

section.home,section.about,.vision-section,
.motivation-section,.goals-section,
.aboutUs-section,
.contact-us-section{
    overflow: hidden;
    height: 600px;
}
*,.row,.col-xs-2 ,.col-md-4,.col-xs-12,.col-xs-6,.col-xs-8,.col-xs-4,.col-md-6,.col-xs-11{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.c-Center
{
   height: 250px;
   margin-bottom: 20px;

}
.col-sm-2.logo
{
    padding: 0;
    margin: 0;
}
.l-corner,.l-y-Center,.l-b-corner
{
     height: 350px;
     width: 350px;
      left:-210px;
     border-radius:0px 50px;
    transform: rotate(50deg);
}
.l-corner
{
    background:#96CD28;
    z-index: 1;
}
.l-y-Center
{
    z-index: 2;
    top:-400px;
    border:2px solid #F68F22;
    transform: rotate(30deg);
    
}
.l-b-corner
{
    height: 280px;
    width: 280px;
    z-index: 3;
    top:-720px;
    border:2px solid #225C6A;
    transform: rotate(15deg);
}
.gorealxImg
{
    height: 550px;
}
.gorealx h1.text
{
    padding: 0;
    margin: 0;
    top: 500px;
     transform: translate(0px, -270px);
    font-size: 54px;
    color:#225C6A;
    font-weight: bold;
    font-family: 'El Messiri', sans-serif;
    transition: all 2s ease-in-out;
}
.chairCurves{
    background: #fff;
}
.chairImg{
    background: #fff;
    z-index: 4;
    margin: 0;
    left: 145px;
}
.whiteCurve,.yellowCurve,.greenCurve{
    left: 100px;
    width: 416px;
    height: 461px;
}
.whiteCurve{
    background:#fff;
    top: -395px;
    z-index: 3;
    transform: rotate(60deg);
}

.yellowCurve
{
    background:#F68F22 ;
    bottom: 868px;
    z-index: 2;
    transform: rotate(74deg);
}
.greenCurve
{
    background:#96CD28;
    bottom: 1337px;
    z-index: 1;
    transform: rotate(40deg);
}
/*Second page*/
.l-logo,.s-logo,.t-logo
{
    width: 280px;
    height: 280px;
     border-radius: 45px;
    
    
}
.l-logo
{
    width: 280px;
    height: 280px;
    top:150px;
    right: 100px;
    background: #F68F22;
    border-radius: 45px;
    z-index: 1;
    
    
}
.glogo
{
    transform: rotate(-45deg);
    padding-left: 20px;
}
.s-logo{
   
    border: 2px solid #225C6A;
    z-index: 2;
    top: -166px;
    width: 400px;
    right: 208px;
    transform: rotate(30deg);
}

.t-logo
{
    z-index: 3;
    top: -415px;
    right: 87px;
    transform: rotate(10deg);
    
}

.a-b-border
{
    width: 100px;
    height: 200px;
    border: 2px solid #F68F22;
    margin: 0;
    padding: 0;
    float: right;
    border-radius: 20px;
    transform: rotate(55deg);
    top: 100px;
    left: 40px;
}
.a-c-content,.vision-content,
.right-section,.g-info{
   
    direction: rtl;
}
.a-c-content .content h1,
.vision-content h1,
.right-section h1,
.g-info h1,.head h1
{
    background: #225C6A;
    color:#fff;
    padding: 3px;
    width: 280px;
    font-weight: bold;
    font-family: 'El Messiri', sans-serif;
}
.a-c-content .content p,
.vision-content p,
.borders .p-info,
.right-section p,
.g-info p
{
    direction: rtl;
    margin-top: 30px;
    font-size: 26px;
    color: #7d7c7c;
    font-family: 'El Messiri', sans-serif;
}
.content .bottom
{
    margin: auto;
    width: 100px;
    height: 300px;
    bottom: -50px;
    border: 2px solid #96CD28;
    border-radius: 20px;
    transform: rotate(-50deg);
}

/*vision*/
.vision .top,
.vision-section .bottom{
    width: 100px;
    height: 200px;
}
.vision .top
{
    border-radius: 20px;
    border:2px solid #F68F22 ;
    top: -114px;
    transform: rotate(-43deg);
}
.vision-content h1{
    width: 400px;
    
}
.vision-content p{
    font-size: 32px;
}
.vision-section .bottom
{
    border: 2px solid #96CD28;
    bottom: -540px;
    right:100px;
    border-radius: 20px;
    transform: rotate(40deg);
}
.vision-img .l-logo
{
    top:100px;
    left: 220px;
     transform: rotate(-22deg);
 
}
.vision-img .s-logo{
    left: 208px;
    top: -298px;
}
.vision-img .t-logo{

    left: 210px;
    top: -719px;
}

/*four page*/
.m-y-borders{
   width: 300px;
    height: 230px;
    border: 2px solid #96CD28 ;
    z-index: 1;
    right: 150px;
    top: -48px;
    
}
.m-b-borders{
     width: 300px;
    height: 285px;
    border: 2px solid #F68F22 ;
    z-index: 2;
    top: -340px;
    right: 161px;
    transform: rotate(45deg);
}
.top-info
{
    height: 300px;
}
.borders .p-info
{
    font-size: 30px;
}
.borders .bottom{
    width: 200px;
    height: 200px;
    top:530px;
    right: 295px;
    border-radius: 40px;
    transform: rotate(120deg);
    border:2px solid #225C6A;
    
}
.right-section h1
{
    margin-top: 40px;
}
.right-section .b-img
{

    top:330px;
    transform: rotate(120deg);
    left: 100px;
    z-index: 1;
}
.right-section  .m-bl-border{

    top:10px;
    transform: rotate(50deg);
    left: 60px;
    z-index: 2;
    border: 2px solid #96CD28;
}
.right-section  .m-ye-border{
 
    top:-290px;
    transform: rotate(80deg);
    left: 60px;
    z-index: 2;
    border: 2px solid #225C6A;
}
/*goal section*/
.g-borders
{
    height: 300px;

}
.g-info
{
 
    height: 250px;
}
.g-borders .g-b-border,.g-borders .g-g-border
{
    width: 300px;
    height: 300px;
}
.g-borders .g-b-border
{
    border:2px solid #225C6A;
    right: 200px;
    top: 100px;
    z-index: 1;
}

.g-borders .g-g-border
{
    z-index: 2;
    border:2px solid #96CD28;
    transform: rotate(40deg);
    top: -240px;
    right: 200px;
}
.g-info
{
    padding: 30px;
}
.g-info h1 {
    width: 100%;
    padding: 10px;
    
}
.g-img {
    height: 400px;

}
.g-bottom
{
    height: 200px;
}
.g-r-section{
    direction: rtl;
}
.g-r-section .g-cg-border,
.g-r-section .g-cb-border,
.g-r-section .g-cy-border
{
    width: 592px;
    height: 500px;
    border-radius: 100px;
    
}
.g-r-section .g-c-img{
    width: 418px;
    background:#fff;
    z-index: 1;
}
.g-r-section .g-c-img img
{
    transform: rotateY(180deg);
}
.g-r-section .g-cy-border
{
    border: 2px solid #F68F22;
    z-index: 2;
    top: -494px;
    width: 592px;
    transform: rotate(-234deg);
    left: 67px;
    
}
.g-r-section .g-cg-border{
    border: 2px solid #96CD28;
    z-index: 3;
    height: 530px;
    top: -1014px;
    left: 65px;
    transform: rotate(282deg);
    
}
.g-r-section .g-cb-border{
   
   border: 2px solid #225C6A;
    z-index: 4;
    top: -1479px;
    left: 76px;
    transform: rotate(160deg);
}

.g-bottom .border-bottom ,
.g-bottom .border-bottoms,
.g-bottom .borde2r-bottom
{
    right: 440px;
}
.g-bottom .border-bottom
{
    background:#96CD28;
    z-index: 1;
    right: 440px;
    bottom: -126px;
}
.g-bottom .border-bottoms
{
    z-index: 2;
    border:2px solid #225C6A;
    bottom: 156px;
    right: 427px;
    transform: rotate(68deg);
}
.g-bottom .borde2r-bottom
{
    z-index: 3;
    bottom: 447px;
    right: 467px;
    border:2px solid #F68F22;
    transform: rotate(-68deg);
}
/*about us*/
.aboutUs-section{
   height: 740px;
    overflow: hidden;
}
.about_us
{
    height: 240px;
    overflow: hidden;
}
.head h1
{
    width: 50%;
    margin: 100px auto;
}
.about_us_top_border,.about_us_top_border2
{
    height: 348px;
    width: 250px;
    border-radius: 40px;
}
.about_us_top_border{
      z-index: 1;
    background: #F68F22;
    top: -93px;
    height: 250px;
    width: 276px;
    left: -104px;
    transform: rotate(133deg);
    
}
.about_us_top_border2{
    z-index: 2;
    left: -69px;
    top: -450px;
    transform: rotate(40deg);
}
.content-mrgin
{
    margin-bottom: 50px;
}
.a1-content,
.a2-content,
.a3-content
{
    
    border:1px solid #F68F22;
    border-radius: 30px;
    padding: 10px;
    transition: all 0.8s ease-in-out;
}
.a1-content a,
.a2-content a,
.a3-content a{
    color: #000;
}
.a1-content:hover,
.a2-content:hover,
.a3-content:hover{
    
    cursor: pointer;
    transform: scale(1.1)

}
.a1-content a:hover,
.a2-content a:hover,
.a3-content a:hover{
    color: rgb(74, 170, 194);
}
.inner-content
{
     border-radius: 30px;
    padding: 10px;
}
.inner-content h3{
    font-family: 'El Messiri', sans-serif;
    font-weight: bold;
}
.a1-content
{
    margin-left: 50px;
}
.a-u-bottom
{
    height: 200px;
    overflow: hidden;
}
.u-corner,.u2-corner
{
    width: 300px;
    height: 200px;
    border-radius: 50px;
}
.u-corner
{
    width: 300px;
    background:#96CD28;
    right: 185px;
    z-index: 1;
    transform: rotate(214deg);
}
.u2-corner
{
    border: 2px solid #F68F22;
    z-index: 2;
    bottom: 129px;
    transform: rotate(19deg);
    right: 162px;
}
.corner-b
{
    width: 300px;
    height: 200px;
    border: 2px solid #225C6A;
    transform: rotate(38deg);
    top: 147px;
    left: 21px;
}
/*gallery section*/
.gallery-section
{
    height: 700px;
    overflow: hidden;
}
.b-gallery{
    height: 150px;
    overflow: hidden;
}
.top-g-border,.top-g-border2
{
    width: 300px;
    height: 200px;
}
.top-g-border
{
    
    top: -59px;
    width: 300px;
    height: 200px;
    background:#96CD28;
    z-index: 1;
    right: 200px;
    transform: rotate(139deg);
}
.top-g-border2
{
    border: 2px solid #F68F22 ;
    top: -264px;
    right: 219px;
    z-index: 2;
    transform: rotate(140deg);
}
.g1-img
{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    z-index:2;
    box-shadow: 6px 6px  #F68F22 ; 
    transition: all 0.5s ease-in-out;
}
.g1-img:hover{
    cursor: pointer;
    transform: scale(0.8);
    box-shadow: 10px 10px 10px  #F68F22;
}

.g1-img img
{
    width: 135px;
    height: 135px;
    z-index: 1;
    display: block;
    top: 30px;
    right: -30px;
    position: relative;
    transform: rotate(-45deg);
    border-radius: 30px;
    
}
.g1-product
{

    margin-left: 90px;
}
.r1-corner
{
    background:#96CD28 ;
    left: 1173px;
    z-index: 1;
    bottom: 60px;
}
.r2-corner
{
    border:2px solid #F68F22;
    z-index: 2;
    bottom: 317px;
    left: 1182px;
    transform: rotate(41deg);
}
/*contact us section*/
.contact-us-section
{
    height: 700px;
    overflow: hidden;
}
.leftContactTop{
    height: 400px;
}
.contactBottom .contacty
{
    left: -195px;
    z-index: 1;
    bottom: -80px;
}
.contactb{
    z-index: 2;
    border:2px solid #225C6A;
    bottom: 246px;
    left: -215px;
    transform: rotate(-52deg);
}
.contactg
{
    transform: rotate(-77deg);
    right: 233px;
    border: 2px solid #96CD28;
    z-index: 3;
    bottom: 557px;
}

.contact-center img
{
    width: 90%;
    height: 600px;
}
.ContactContent
{
    border:1px solid #225C6A;
    height: 220px;
    width: 350px;
    left: 300px;
    padding: 5px;
}
.innerContent
{
    border:1px solid #96CD28;
    height: 210px;
    width: 340px;
    padding: 5px;
}
.inner2Content
{
    border:1px solid #F68F22;
    height: 200px;
    width: 330px;
}
.inner2Content img{
    width: 270px;
    height: 183px;
    margin: auto;
}
.inner2Content .first,.lastP2{
    margin-top: 50px;
    color: #7d7c7c;
    font-size: 20px;
    font-family: 'El Messiri', sans-serif;
}
.lastP
{
    color: #7d7c7c;
    font-size:17px;
    font-family: 'El Messiri', sans-serif;
}
p i
{
    color: #96CD28;
    cursor: pointer;
    padding: 3px;
    font-size: 12px;
    margin-right: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #96CD28;
}
.wcorner
{
    background:#fff;
    right: 15px;
    z-index: 2;
}
.ycorner
{
    top: -298px;
    z-index: 1;
    transform: rotate(78deg);
    right: 26px;
    width: 200px;
    height: 200px;
}
.gcorner
{
    right: 32px;
    width: 212px;
    height: 240px;
    bottom: 443px;
    transform: rotate(203deg);
}

    
/*y-#F68F22   g-#96CD28  b-#225C6A*/

/*******************Frame work classes********************/
.section-margin{
    margin-bottom: 200px;
    border-bottom: 1px solid rgb(236, 234, 234);
}
.post
{
    position: relative;
}
.borderRadius5
{
    border-radius: 50px;
}
.WAndH3
{
    width:300px;
    height: 300px;
}
.WAndH4
{
    width:400px;
    height: 400px;
}
.rotate45
{
    transform: rotate(45deg);
}
.Gborder
{
    border: 2px solid #96CD28;
}
.Bborder
{
    border:2px solid #225C6A;
}
.Oborder
{
    border:2px solid #F68F22;
}
.Gback
{
    background: #96CD28;
}
.Bback
{
    background: #225C6A;
}
.Oback
{
    background: #F68F22;
}
a,a:hover{
    text-decoration: none;
}
/*animation*/
@media(min-width:588px) and (max-width:1440px){
        .chairCurves {
        background: #fff;
        position: relative;
        left: 46px;
    }
}

/****************Frame work classes***********************/
/*responsive*/
@media(min-width:529px) and (max-width:1024px){
    .chairCurves {
        position: relative;
        left: -79px;
    }
    .vision-img .l-logo {
        top: 31px;
        left: 136px;
    }
    .vision-img .t-logo {
        left: 157px;
        top: -778px;
    }
    .vision-img .s-logo {
        left: 132px;
        top: -371px;
    }
    /**/
    .right-section .b-img,.right-section .m-bl-border,.right-section .m-ye-border{
        width:240px;
    }
    .right-section .m-bl-border{
        width:200px;
        top: -2px; 
       left: 81px;
    }
    .right-section .m-ye-border{
        width:200px;
       top: -281px;
       transform: rotate(80deg);
       left: 97px;
    }
    .m-b-borders{
        width: 215px;
    }
    .m-y-borders{
       right: 225px;
       top: -114px;
    }
    .g-r-section .g-cg-border,
     .g-r-section .g-cb-border,
      .g-r-section .g-cy-border{
        width: 399px;
        height: 246px;
        border-radius: 25px;
    }
    .g-r-section .g-c-img{
        width: 280px;
    }
    .g-r-section .g-cy-border{
        top: -315px;
        left: 96px;

    }
    .g-r-section .g-cb-border{
        top: -766px;
        left: 107px;
    }
    .g-r-section .g-cg-border{
        top: -565px;
    }
    .g-borders{
        
         display: none;
        
    }
    .g-info h1{
       width: 150px;
       font-size: 25px;
    }
    .g-info p{
        font-size: 25px;
    }
    .g-bottom .border-bottom{
       right: 27px;
       width: 260px;
       height: 260px;
    }
    .g-bottom .border-bottoms
    {
       width: 260px;
       height: 260px;
       bottom: 118px;
       right: 12px;
    }
    .g-bottom .borde2r-bottom
    {
       width: 260px;
       height: 260px;
       bottom: 375px;
       right: 50px;
    }
    /**/
    .g1-img img 
    {
        width: 100px;
        height: 100px;
        z-index: 1;
        display: block;
        top: 20px;
        right: -9px;
    }
    .g1-img{
        width: 160px;
        height: 160px;
    }
    .g1-product {
        margin-left: 70px;
    }
    .ContactContent{
        left: 200px;
    }
}
@media(min-width:529px) and (max-width:768px){

    .gorealx h1.text{
        font-size: 42px;
    }
    .nav > li > a{
        padding: 10px 2px;
    }
    .navbar-default .navbar-nav > li > a:hover,
     .navbar-default .navbar-nav > li > a:focus, a.active{
         border-radius: 7px;
     }
     .navbar-brand > img{
         top:-10px;
     }
     section.home{
         margin-top: 48px;
     }
     l-logo, .s-logo, .t-logo{
        width: 180px;
       height: 145px;
       border-radius: 20px;
    }
    .t-logo{
        top: -270px;
        right: 136px;
    }
    .s-logo{
        top: -135px;
        width: 189px;
        right: 153px;
    }
    .l-logo{
        width: 130px;
        height: 280px;
        top: 150px;
        right: 128px;
        border-radius: 25px;

    }
    .a-b-border{
        width: 160px;
        height: 80px;
        left: 142px;
        border-radius: 15px;
    }
    .a-c-content .content p, 
    .vision-content p, .borders .p-info,
     .right-section p, .g-info p{
         font-size: 20px;
     }
     .content .bottom{
         bottom: -115px;
     }
     .vision-img .l-logo{
        width: 249px;
        height: 3;
        top: -76px;
        left: 124px;
        transform: rotate(-28deg);
     }
     .vision-img .l-logo img{
         border-radius: 20px;
     }
     .vision-img .s-logo{
        width: 300px;
        height: 266px;
        left: 114px;
        top: -330px;
     }
     .vision-img .t-logo{
        width: 300px;
        height: 253px;
        left: 132px;
        top: -604px;
     }
     .vision-section .bottom{
        bottom: -451px;
        right: 49px;
     }
     /**/
     .right-section .b-img,.right-section .m-bl-border,.right-section .m-ye-border{
        width:240px;
    }
    .right-section .m-bl-border{
        width:200px;
        top: -2px; 
       left: 81px;
    }
    .right-section .m-ye-border{
        width:200px;
       top: -281px;
       transform: rotate(80deg);
       left: 97px;
    }
    .m-b-borders{
        width: 215px;
    }
    .m-y-borders{
       right: 225px;
       top: -114px;
    }
    .g-r-section .g-cg-border,
     .g-r-section .g-cb-border,
      .g-r-section .g-cy-border{
        width: 328px;
        height: 230px;
        border-radius: 25px;
    }
    .g-r-section .g-c-img{
        width: 210px;
    }
    .g-r-section .g-cy-border{
        top: -278px;
        left: 96px;

    }
    .g-r-section .g-cb-border{
        top: -698px;
        left: 107px;
    }
    .g-r-section .g-cg-border{
        top: -516px;
    }
    .g-borders{
        
         display: none;
        
    }
    .g-info h1{
       width: 150px;
       font-size: 25px;
    }
    .g-info p{
        font-size: 25px;
    }
    .g-bottom .border-bottom{
       right: 27px;
       width: 260px;
       height: 260px;
    }
    .g-bottom .border-bottoms
    {
       width: 260px;
       height: 260px;
       bottom: 118px;
       right: 12px;
    }
    .g-bottom .borde2r-bottom
    {
       width: 260px;
       height: 260px;
       bottom: 375px;
       right: 50px;
    }
     /**/
     .u2-corner{
        bottom: 174px;
        right: 206px
     }
     .corner-b{
        top: 91px;
        left: -39px;
     }
     /**/
     .gallery-section{
        height: 2200px;
    }
    .g1-img
    {
        margin: auto;
        margin-bottom: 100px;
    }
     /**/
     .ContactContent{
         left: 115px;
     }
}

@media(min-width:425px) and (max-width:529px){
    .content .bottom{
        bottom: -197px;
    }
    .ContactContent{
        left: 40px;
    }
  
}
@media (min-width:375px)and (max-width:529px){
    .content .bottom{
        bottom: -158px;
    }
    .vision-img .s-logo{
        left: 262px;
    }
    .vision-img .t-logo{
        left: 262px;
    }
    .ContactContent{
        left: 20px;
    }
   
}
@media (min-width:320px) and (max-width:529px){
    .content{
        position: relative;
        top: 70px;
    }
    .section-margin{
        margin-bottom: 100px;
    }
    .chairCurves{
        display: none;
    }
    .gorealx h1.text{
        font-size: 30px;
    }
    .l-logo, .s-logo, .t-logo{
        width: 180px;
       height: 145px;
       border-radius: 20px;
    }
    .t-logo{
        top: -270px;
        right: 136px;
    }
    .s-logo{
        top: -135px;
        width: 189px;
        right: 153px;
    }
    .l-logo{
        width: 100px;
        height: 280px;
        top: 150px;
        right: 115px;

    }
    .a-b-border{
        width: 70px;
        height: 70px;
        left: 57px;
        border-radius: 14px;
    }
    .a-c-content .content h1, .vision-content h1, 
    .right-section h1, .g-info h1, .head h1{
        width: 180px;
        font-size: 30px;
    }
    .content{
        position: relative;
        left: 20px;
        
    }
    .a-c-content .content p, 
    .vision-content p, .borders .p-info,
     .right-section p, .g-info p{
         font-size: 14px;
     }
     .content .bottom{
        width: 70px;
        height: 118px;
        bottom: -118px;
        border-radius: 10px;
     }
     .vision-img{
        position: relative;
        bottom: 185px;
     }
     .vision .top, 
     .vision-section .bottom{
        width: 80px;
        height: 188px
     }
     .vision .top{
        border-radius: 10px;
        top: -115px;
        right: 11px;
     }
     .editResp{
        padding-left: 20px;
        position: relative;
        bottom: 265px;
        left: -2px;
        width: 300px;
        height: 392px;
        border-radius: 10px;
        transform: rotate(-10deg);
        display: none;
     }
     .vision-img .l-logo{
        top: 191px;
        left: 252px;
        background: #fff;
        border-radius: 10px;
     }
     .vision-img .s-logo{
        left: 261px;
        width: 161px;
        height: 95px;
        top: -53px;
        border-radius: 10px;
     }
     .vision-img .t-logo{
        left: 261px;
        top: -169px;
        width: 165px;
        height: 100px;
     }
     .vision-content h1{
        width: 125px;
        font-size: 25px;
        padding: 5px;
     }
     .right-section .b-img,.right-section .m-bl-border,.right-section .m-ye-border{
         width:240px;
     }
     .right-section .m-bl-border{
         width:200px;
         top: -2px; 
        left: 81px;
     }
     .right-section .m-ye-border{
         width:200px;
        top: -281px;
        transform: rotate(80deg);
        left: 97px;
     }
     .m-b-borders{
         width: 215px;
     }
     .m-y-borders{
        right: 225px;
        top: -114px;
     }
     .g-r-section .g-cg-border,
      .g-r-section .g-cb-border,
       .g-r-section .g-cy-border{
         width:200px;
         height: 200px;
         border-radius: 25px;
     }
     .g-r-section .g-c-img{
         width: 100px;
     }
     .g-r-section .g-cy-border{
         top:-189px;

     }
     .g-r-section .g-cb-border{
        top: -573px;
     }
     .g-r-section .g-cg-border{
        top: -393px;
     }
     .g-borders{
         
             display: none;
         
     }
     .g-info h1{
        width: 100px;
        font-size: 20px;
     }
     .g-info p{
         font-size: 15px;
     }
     .g-bottom .border-bottom{
        right: 27px;
        width: 260px;
        height: 260px;
     }
     .g-bottom .border-bottoms
     {
        width: 260px;
        height: 260px;
        bottom: 118px;
        right: 12px;
     }
     .g-bottom .borde2r-bottom
     {
        width: 260px;
        height: 260px;
        bottom: 375px;
        right: 50px;
     }
     .aboutUs-section{
         height: auto;
     }
     .about_us_top_border{
         width: 200px;
         height: 200px;
         top: -353px;
         left: 176px;
     }
     .about_us_top_border2{
        left: 201px;
        top: -555px;
        width:200px;
        height: 200px;
     }
     .a1-content, .a2-content, .a3-content{
         padding: 3px;
         margin: 10px;
     }
     .a1-content{
         margin-left: 8px;
     }
     .inner-content a{
         font-size: 14px;
     }
     .inner-content h3,.content-mrgin{
         margin: 0;
     }
     .u2-corner{
        bottom: 213px;
        right: 223px;
     }
     .corner-b
    {
        width: 100px;
        height: 100px;
        top: 147px;
        left: -34px;
        border-radius: 20px;
    }
    .gallery-section{
        height: 2500px;
    }
    .g1-img
    {
        margin: auto;
        margin-bottom: 100px;
    }
    .contact-right{
        display: none;
    }
    .ContactContent{
        left: -10px;
    }
    .contactBottom .contacty,.contactb,.contactg{
        width:200px;
        
    }
    .contactBottom .contacty
    {
        bottom: -117px;
    }

    .ContactContent {
        width: 250px;
        left: 17px;
    }
    .innerContent {
        width: 240px;
    }
    .inner2Content {
        width: 228px;
    }
    .inner2Content img {
        width: 200px;
        height: 175px;
    }
    .inner2Content .first, .lastP2{
        font-size: 18px;
    }
}




/*Reset*/
/*y-#F68F22   g-#96CD28  b-#225C6A*/